*{
    margin: -3px;
    padding: 9px;
    box-sizing: border-box;
   
}


#logo{
margin: 10px 34px;

}
#logo img{
    height: 59px;
    margin: 3px 6px;
}
#navber{
    position: relative;
    align-items: center;
    top: -38px;
    display: flex;

}
#navber ul{
    display: flex;
}
#navber::before{
  content: "";
  background-color: black ;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  top: 0px;
    left: 0px;


}
#navber ul li{
   list-style: none;
   font-size: 1.3rem;
   font-family: "Baloo 2", sans-serif;
}
#navber ul li a{
    color: rgb(6, 0, 0);
    display: block;
    padding: 3px 60px;
    border-radius: 20px ;
    text-decoration: none;
    border: #e54040;
    
 }
 #navber ul li a:hover{
    color: black;
    background-color:white;
 }
 #home{
    display: flex;
    flex-direction: column;
    padding: 3px 20px;
    justify-content: center;
    align-items:center ;
    height: 550px;

 }
 #home::before{
    content: "";
    background: url('../bg.jpg') no-repeat center center/cover ;
    opacity: 0.56;
    position: absolute;
    height: 660px;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;

 }
 #home h1{
    color: rgb(7, 7, 7);
    text-align: center;
    font-family: "Bree Serif", serif;
 }
 #home p{
    color: rgb(9, 1, 2);
    text-align: center;
    font-size: 1.5rem;
    font-family: "Bree Serif", serif;
 }
 .h-primary{
   font-family: "Bree Serif", serif;
    font-size: 3.8rem;
    padding: 24px;

 }
 .h-secondary{
   font-family: "Bree Serif", serif;
   font-size: 2.3rem;
   padding: 0px;
}
#services{

   margin: 25px;
   display: flex;
}
#services .box{
 
  padding: 5px;
  margin:10px 6px;
  border-radius: 28px;
  background: #eae1e1;
 
}
.photos{
   
   height:200px;
   width: 200px;

   display: flex;
  padding: 5px;
  border-radius: 28px;
   
  

}
    
.photo{
   height:250px;
   width: 300px;
   margin: auto;
   display: block;
  padding: 5px;
  border-radius: 28px;

  border: 2px solid #e54040;
}
#services .box img{
height: 160px;
 margin: auto;
 display: block;
 }
#services .box p{
   font-family: "Bree Serif", serif;

}


#client-section {
   padding: 20px;
   margin-top: 40px;
   position: relative;
}
#client-section::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   opacity:1.7;
   z-index: -1;
   background: url('../bk.png');
}
#clients{
   display: flex;
   justify-content: center;
   align-items: center;
position: relative;
   
}
.client-item {
   padding: 34px;
   width: 100%;
}
#clients img {
   height: 200px;
   width: auto; 
     border-radius: 15px;
}
#contact{
   position: relative;
}  
#contact::before{
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: 0.6;
   z-index: -1;
   background: url('../cnt.png') no-repeat center center/cover ;
}
#contact-box {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 82px;
   border-right:20px;
}
#contact-box form{
   width: 40%;
   font-family: "Bree Serif", serif;
}
#contact-box label{
   font-size: 2.3rem;

}
#contact-box input,
#contact-box textarea{
   width: 100%;
   padding: 0.5rem;
   border-radius: 9px ;
   font-size: 0.9rem;
}
footer{
   background: rgb(228, 227, 227);
   color: rgb(4, 4, 4);
   padding: 12px;
}
 .btn{
   padding: 6px 20px;
   border-end-end-radius: 2px solid red;
   background-color: rgb(86, 155, 80); 
   margin: 20px;
   color: white;
   border-radius: 15px;
   cursor: pointer;
   font-size: 1.5rem;
 }
 .btn a{
   padding: 6px 20px;
   border-end-end-radius: 2px solid red;
   background-color: rgb(86, 155, 80); 
   margin: 20px;
   color: white;
   border-radius: 15px;
   cursor: pointer;
   font-size: 1.5rem;
   text-decoration: none;
 }
 

.center{
   text-align: center;
}














